@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('../../public/AirbnbCereal_W_Bd.otf') format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('../../public/AirbnbCereal_W_Bk.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('../../public/AirbnbCereal_W_Blk.otf') format('otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('../../public/AirbnbCereal_W_Lt.otf') format('otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('../../public/AirbnbCereal_W_Md.otf') format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url('../../public/AirbnbCereal_W_XBd.otf') format('otf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
